<html>
  <head>
    <title></title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
    <h1>Hello, <%= user %></h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum eos
      consectetur in harum blanditiis praesentium atque error fugiat ducimus
      illum omnis quaerat, assumenda non repellendus aperiam nisi vel optio enim
      nostrum quam magnam vitae laboriosam sed itaque. Libero accusantium et
      perferendis fuga iste eum. Blanditiis praesentium dolorem unde qui
      doloremque expedita quisquam, quo repudiandae minus debitis minima placeat
      sed sint tempore atque aliquam ratione, quos nostrum eaque repellat ut
      fuga nam. Necessitatibus, minus magni obcaecati deleniti voluptatibus in!
      Alias aperiam numquam adipisci praesentium fugiat porro ipsa, illo
      debitis, quis accusantium dolorem ad voluptatem possimus magnam! Expedita
      quos vero dolor?
    </p>

    <a href="/logout">logout</a>
    </div>
  </body>
</html>
